body{
    text-align: center;
    background-color: gray;
}    
a{
    color: black;
}
.together{
    display: inline-block;
}
h1{
    margin-right: 50px;
    padding-left: 110px;
    text-align: center;
}
input{
  background-color: transparent;
  color: rgb(223, 230, 230);
  border-color: transparent;
  text-decoration: underline;
}
input:hover{
    font-size: larger;
    transition: all .1s;
}
input:active{
    font-size: larger;
}
div{
    padding-bottom: 15px;
    text-align: left;
    margin-left: 50px;
    padding-top: 5px;
}
